
[Unit]
Description=GreenCloud Node Service
After=network.target

[Service]
ExecStartPre=/usr/sbin/sysctl -w net.ipv4.ping_group_range="0 2147483647"
ExecStart=/var/lib/greencloud/gcnode
Restart=always
User=root
WorkingDirectory=/var/lib/greencloud

# Send logs directly to a file
StandardOutput=append:/var/lib/greencloud/gcnode.log
StandardError=append:/var/lib/greencloud/gcnode.log

[Install]
WantedBy=multi-user.target
